.intro-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr; /* isso deixa o conteudo de ladinho*/
    gap: var(--gap);
    height: 100vh;
}
.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
.intro-text-content h3{
    font-size: 2em;
    margin-bottom: 5rem;
    line-height: 1.5;

}
.intro-img{
    max-width: 100%;
    height: auto;
}